<header class="mat-elevation-z3">
  <div class="logo">
    <a routerLink="/inicio" autofocus> 
      <img src="assets/liceo.png" alt="Logo de la Universidad">
    </a>
    <div class="instituto-info">
      <div class="titulorepositorio_1">
        <p>Biblioteca Digital del Instituto Superior Tecnológico</p>
      </div>
      <div class="titulorepositorio_2">
        <p style="font-size: 1.8em;">LICEO CRISTIANO</p>
      </div>
    </div>
  </div>
</header>
<section class="pestanas-section">
  <div class="pestanas">
    <a routerLink="/inicio">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Carreras</button>
      <div class="dropdown-content">
        <a routerLink="/subtema1">Tecnología Superior en Administración</a>
        <a routerLink="/subtema2">Tecnología Superior en Desarrollo de Software</a>
        <a routerLink="/subtema3">Asistencia Pedagógica</a>
        <a routerLink="/subtema4">Teología</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Bases de datos</button>
      <div class="dropdown-content">
        <a href="https://scielo.org/es/">Scielo</a>
        <a href="https://www.ebsco.com/es">EBSCO</a>
        <a href="https://dialnet.unirioja.es/">Dialnet</a>
        <a href="https://www.redalyc.org/">Redalyc</a>
      </div>
    </div>
    <a routerLink="/gestion">Registros</a>
  </div>
</section>
  <div class="header-image">
    <img src="assets/estudiante.jpg" alt="Imagen de encabezado">
  </div>
  <main>
    <h2 class="resultado_">Resultados de la búsqueda</h2>
    <div class="registro-encontrado">
      <div class="palabras">
        <p>Se encontró</p>
        <p class="circulo">1</p>
        <p>registro/s</p>
      </div>
    </div>
  
    <table class="resultados-table">
      <thead>
        <tr>
          <th>Fecha de publicación</th>
          <th>Título</th>
          <th>Autor/es</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10 de marzo del 2024</td>
          <td><a routerLink="/documento">Desarrollo e Implementación de un Módulo Virtual para la Biblioteca Institucional del ISTLC</a></td>
          <td>
            <a routerLink="/documento">Gómez Villamar Ana Estefanía</a>
            <!-- <a routerLink="/informaciondocumento"> Cañarte Soledispa, Karina</a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  
  <footer class="footer mat-elevation-z3">
    <div class="footer-content">
      <p class="mat-body-1">Copyright<small>©</small> Instituto Superior Tecnológico Liceo Cristiano - 2024</p>
    </div>
  </footer>